<a href="https://colab.research.google.com/github/Luispabon88/Hackaton2022/blob/main/Kung_fu_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install uproot awkward #

Collecting uproot
  Downloading uproot-4.2.2-py2.py3-none-any.whl (298 kB)
     |████████████████████████████████| 298 kB 4.0 MB/s
Collecting awkward
  Downloading awkward-1.8.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (11.7 MB)
     |████████████████████████████████| 11.7 MB 34.0 MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from uproot) (57.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from uproot) (1.21.6)
Installing collected packages: uproot, awkward
Successfully installed awkward-1.8.0 uproot-4.2.2

In [195]:
import uproot
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import constants

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
file = uproot.open("SMHiggsToZZTo4L.root")

In [ ]:
file['Events'].show()

name                 | typename                 | interpretation
---------------------+--------------------------+-------------------------------
run                  | int32_t                  | AsDtype('>i4')
luminosityBlock      | uint32_t                 | AsDtype('>u4')
event                | uint64_t                 | AsDtype('>u8')
PV_npvs              | int32_t                  | AsDtype('>i4')
PV_x                 | float                    | AsDtype('>f4')
PV_y                 | float                    | AsDtype('>f4')
PV_z                 | float                    | AsDtype('>f4')
nMuon                | uint32_t                 | AsDtype('>u4')
Muon_pt              | float[]                  | AsJagged(AsDtype('>f4'))
Muon_eta             | float[]                  | AsJagged(AsDtype('>f4'))
Muon_phi             | float[]                  | AsJagged(AsDtype('>f4'))
Muon_mass            | float[]                  | AsJagged(AsDtype('>f4'))
Muon_charge          | int32_t[]                | AsJagged(AsDtype('>i4'))
Muon_pfRelIso03_all  | float[]                  | AsJagged(AsDtype('>f4'))
Muon_pfRelIso04_all  | float[]                  | AsJagged(AsDtype('>f4'))
Muon_dxy             | float[]                  | AsJagged(AsDtype('>f4'))
Muon_dxyErr          | float[]                  | AsJagged(AsDtype('>f4'))
Muon_dz              | float[]                  | AsJagged(AsDtype('>f4'))
Muon_dzErr           | float[]                  | AsJagged(AsDtype('>f4'))
nElectron            | uint32_t                 | AsDtype('>u4')
Electron_pt          | float[]                  | AsJagged(AsDtype('>f4'))
Electron_eta         | float[]                  | AsJagged(AsDtype('>f4'))
Electron_phi         | float[]                  | AsJagged(AsDtype('>f4'))
Electron_mass        | float[]                  | AsJagged(AsDtype('>f4'))
Electron_charge      | int32_t[]                | AsJagged(AsDtype('>i4'))
Electron_pfRelIso... | float[]                  | AsJagged(AsDtype('>f4'))
Electron_dxy         | float[]                  | AsJagged(AsDtype('>f4'))
Electron_dxyErr      | float[]                  | AsJagged(AsDtype('>f4'))
Electron_dz          | float[]                  | AsJagged(AsDtype('>f4'))
Electron_dzErr       | float[]                  | AsJagged(AsDtype('>f4'))
MET_pt               | float                    | AsDtype('>f4')
MET_phi              | float                    | AsDtype('>f4')

In [ ]:
events = file['Events']

# Nueva sección

In [ ]:
datos_pandas = events.arrays(['run', 'luminosityBlock', 'event','PV_npvs', 'PV_x', 'PV_y', 'PV_z', 'nMuon', 'Muon_pt', 'Muon_eta', 'Muon_phi', 'Muon_mass', 'Muon_charge', 'Muon_pfRelIso03_all', 'Muon_pfRelIso04_all', 'Muon_dxy', 'Muon_dxyErr', 'Muon_dz', 'Muon_dzErr'], library = 'pd')

In [ ]:
datos_pandas

                 run  luminosityBlock   event  PV_npvs      PV_x      PV_y  \
entry  subentry
0      0           1              156   46501       15  0.243699  0.393699
       1           1              156   46501       15  0.243699  0.393699
       2           1              156   46501       15  0.243699  0.393699
3      0           1              156   46504       22  0.243201  0.393092
       1           1              156   46504       22  0.243201  0.393092
...              ...              ...     ...      ...       ...       ...
299969 1           1              996  298797       18  0.242739  0.393346
299970 0           1              996  298798        9  0.244916  0.391220
       1           1              996  298798        9  0.244916  0.391220
       2           1              996  298798        9  0.244916  0.391220
       3           1              996  298798        9  0.244916  0.391220

                     PV_z  nMuon    Muon_pt  Muon_eta  Muon_phi  Muon_mass  \
entry  subentry
0      0         1.451308      3  63.043869 -0.718682  2.968006   0.105658
       1         1.451308      3  38.120346 -0.879457 -1.032475   0.105658
       2         1.451308      3   4.048687 -0.320764  1.038504   0.105658
3      0        -7.884568      7  54.332748 -1.058275 -0.362311   0.105658
       1        -7.884568      7  23.515282 -0.247516 -0.306786   0.105658
...                   ...    ...        ...       ...       ...        ...
299969 1        -2.248217      2  43.079132 -0.161916  2.269466   0.105658
299970 0         2.060255      4   4.316148 -2.087457  0.988177   0.105658
       1         2.060255      4   4.358767 -2.147233  0.434166   0.105658
       2         2.060255      4   5.632667 -2.136167  1.005208   0.105658
       3         2.060255      4   4.750780 -2.018917  1.076247   0.105658

                 Muon_charge  Muon_pfRelIso03_all  Muon_pfRelIso04_all  \
entry  subentry
0      0                   1             0.000000             0.000000
       1                  -1             0.000000             0.000000
       2                   1             0.000000             0.179980
3      0                   1             0.168421             0.334238
       1                  -1             0.031618             0.082917
...                      ...                  ...                  ...
299969 1                  -1             0.049685             0.072580
299970 0                   1             1.860459             3.450086
       1                  -1          -999.000000          -999.000000
       2                   1          -999.000000          -999.000000
       3                   1          -999.000000          -999.000000

                   Muon_dxy  Muon_dxyErr     Muon_dz  Muon_dzErr
entry  subentry
0      0          -0.004785     0.006076    0.090060    0.044572
       1           0.000575     0.001304   -0.003229    0.003023
       2          -0.002323     0.004343   -0.005163    0.004190
3      0           0.000475     0.001315    0.002479    0.003096
       1           0.001083     0.001529   -0.002730    0.003776
...                     ...          ...         ...         ...
299969 1           0.000067     0.001083    0.002467    0.003448
299970 0           0.226525     0.015823   -2.391314    0.070908
       1        -999.000000  -999.000000 -999.000000 -999.000000
       2        -999.000000  -999.000000 -999.000000 -999.000000
       3        -999.000000  -999.000000 -999.000000 -999.000000

[441394 rows x 19 columns]

In [ ]:
datos_pandas2 = events.arrays(['run', 'luminosityBlock', 'event','PV_npvs', 'PV_x', 'PV_y', 'PV_z', 'nElectron','Electron_pt', 'Electron_eta', 'Electron_phi', 'Electron_mass', 'Electron_charge', 'Electron_pfRelIso03_all', 'Electron_dxy', 'Electron_dxyErr', 'Electron_dz', 'Electron_dzErr', 'MET_pt', 'MET_phi'], library = 'pd')

In [ ]:
datos_pandas2

                 run  luminosityBlock   event  PV_npvs      PV_x      PV_y  \
entry  subentry
1      0           1              156   46502       13  0.244278  0.395262
       1           1              156   46502       13  0.244278  0.395262
       2           1              156   46502       13  0.244278  0.395262
       3           1              156   46502       13  0.244278  0.395262
2      0           1              156   46503       11  0.242437  0.395097
...              ...              ...     ...      ...       ...       ...
299969 0           1              996  298797       18  0.242739  0.393346
299971 0           1              996  298799       15  0.242936  0.389434
       1           1              996  298799       15  0.242936  0.389434
299972 0           1              996  298800       13  0.247032  0.391933
       1           1              996  298800       13  0.247032  0.391933

                     PV_z  nElectron  Electron_pt  Electron_eta  Electron_phi  \
entry  subentry
1      0        -2.879779          4    21.902679     -0.702189      0.133996
       1        -2.879779          4    42.632969     -0.979681     -1.863405
       2        -2.879779          4    78.012390     -0.933853     -2.207833
       3        -2.879779          4    23.835430     -1.362490     -0.621565
2      0         1.868263          2    11.571167     -0.849328      2.180453
...                   ...        ...          ...           ...           ...
299969 0        -2.248217          1    12.313824     -0.272834     -3.108863
299971 0         5.048700          2    17.923506      2.202593     -1.123451
       1         5.048700          2    23.226179      2.159800      1.836295
299972 0         6.518339          2    48.071468      0.532110     -1.607639
       1         6.518339          2    38.713150      1.403402      0.971729

                 Electron_mass  Electron_charge  Electron_pfRelIso03_all  \
entry  subentry
1      0              0.005438                1                 0.153108
       1              0.008667                1                 0.073329
       2              0.018527               -1                 0.029728
       3              0.008163               -1                 0.074399
2      0             -0.006085               -1              -999.000000
...                        ...              ...                      ...
299969 0              0.004844                1              -999.000000
299971 0             -0.017138               -1                 0.048826
       1              0.014364                1                 0.051595
299972 0              0.012666               -1                 0.084230
       1              0.018534                1                 0.022152

                 Electron_dxy  Electron_dxyErr  Electron_dz  Electron_dzErr  \
entry  subentry
1      0            -0.000513         0.002375    -0.003061        0.002561
       1             0.001648         0.002920     0.002778        0.003393
       2            -0.001160         0.002521     0.002126        0.003055
       3            -0.001770         0.005515     0.002938        0.004373
2      0            -0.001959         0.002927    -0.006056        0.003230
...                       ...              ...          ...             ...
299969 0             0.002972         0.006012    -0.005894        0.004811
299971 0             0.006878         0.004638    -0.040048        0.010772
       1             0.001015         0.005006     0.005524        0.009840
299972 0             0.000033         0.002196    -0.002201        0.002410
       1            -0.000658         0.008206     0.005575        0.005578

                    MET_pt   MET_phi
entry  subentry
1      0         16.972134  2.866946
       1         16.972134  2.866946
       2         16.972134  2.866946
       3         16.972134  2.866946
2      0         19.061464 -2.166463
...                    ...       ...
299969 0         18.303919 -1.855370
299971 0         23.999083 -1.973488
       1         23.999083 -1.973488
299972 0         12.943779  1.651243
       1         12.943779  1.651243

[423453 rows x 20 columns]

In [ ]:
datos_pandas_totales = pd.concat([datos_pandas,datos_pandas2])

In [ ]:
datos_pandas_totales.sort_index(axis = 0, level = 0, inplace = True)

In [ ]:
datos_pandas_totales

                 run  luminosityBlock   event  PV_npvs      PV_x      PV_y  \
entry  subentry
0      0           1              156   46501       15  0.243699  0.393699
       1           1              156   46501       15  0.243699  0.393699
       2           1              156   46501       15  0.243699  0.393699
1      0           1              156   46502       13  0.244278  0.395262
       1           1              156   46502       13  0.244278  0.395262
...              ...              ...     ...      ...       ...       ...
299970 3           1              996  298798        9  0.244916  0.391220
299971 0           1              996  298799       15  0.242936  0.389434
       1           1              996  298799       15  0.242936  0.389434
299972 0           1              996  298800       13  0.247032  0.391933
       1           1              996  298800       13  0.247032  0.391933

                     PV_z  nMuon    Muon_pt  Muon_eta  ...  Electron_phi  \
entry  subentry                                        ...
0      0         1.451308    3.0  63.043869 -0.718682  ...           NaN
       1         1.451308    3.0  38.120346 -0.879457  ...           NaN
       2         1.451308    3.0   4.048687 -0.320764  ...           NaN
1      0        -2.879779    NaN        NaN       NaN  ...      0.133996
       1        -2.879779    NaN        NaN       NaN  ...     -1.863405
...                   ...    ...        ...       ...  ...           ...
299970 3         2.060255    4.0   4.750780 -2.018917  ...           NaN
299971 0         5.048700    NaN        NaN       NaN  ...     -1.123451
       1         5.048700    NaN        NaN       NaN  ...      1.836295
299972 0         6.518339    NaN        NaN       NaN  ...     -1.607639
       1         6.518339    NaN        NaN       NaN  ...      0.971729

                 Electron_mass  Electron_charge  Electron_pfRelIso03_all  \
entry  subentry
0      0                   NaN              NaN                      NaN
       1                   NaN              NaN                      NaN
       2                   NaN              NaN                      NaN
1      0              0.005438              1.0                 0.153108
       1              0.008667              1.0                 0.073329
...                        ...              ...                      ...
299970 3                   NaN              NaN                      NaN
299971 0             -0.017138             -1.0                 0.048826
       1              0.014364              1.0                 0.051595
299972 0              0.012666             -1.0                 0.084230
       1              0.018534              1.0                 0.022152

                 Electron_dxy  Electron_dxyErr  Electron_dz  Electron_dzErr  \
entry  subentry
0      0                  NaN              NaN          NaN             NaN
       1                  NaN              NaN          NaN             NaN
       2                  NaN              NaN          NaN             NaN
1      0            -0.000513         0.002375    -0.003061        0.002561
       1             0.001648         0.002920     0.002778        0.003393
...                       ...              ...          ...             ...
299970 3                  NaN              NaN          NaN             NaN
299971 0             0.006878         0.004638    -0.040048        0.010772
       1             0.001015         0.005006     0.005524        0.009840
299972 0             0.000033         0.002196    -0.002201        0.002410
       1            -0.000658         0.008206     0.005575        0.005578

                    MET_pt   MET_phi
entry  subentry
0      0               NaN       NaN
       1               NaN       NaN
       2               NaN       NaN
1      0         16.972134  2.866946
       1         16.972134  2.866946
...                    ...       ...
299970 3               NaN       NaN
299971 0         23.999083 -1.973488
       1         23.999083 -1.973488
299972 0         12.943779  1.651243
       1         12.943779  1.651243

[864847 rows x 32 columns]

In [ ]:
datos_pandas_totales.head(20)

                run  luminosityBlock  event  PV_npvs      PV_x      PV_y  \
entry subentry
0     0           1              156  46501       15  0.243699  0.393699
      1           1              156  46501       15  0.243699  0.393699
      2           1              156  46501       15  0.243699  0.393699
1     0           1              156  46502       13  0.244278  0.395262
      1           1              156  46502       13  0.244278  0.395262
      2           1              156  46502       13  0.244278  0.395262
      3           1              156  46502       13  0.244278  0.395262
2     0           1              156  46503       11  0.242437  0.395097
      1           1              156  46503       11  0.242437  0.395097
3     0           1              156  46504       22  0.243201  0.393092
      0           1              156  46504       22  0.243201  0.393092
      1           1              156  46504       22  0.243201  0.393092
      2           1              156  46504       22  0.243201  0.393092
      3           1              156  46504       22  0.243201  0.393092
      4           1              156  46504       22  0.243201  0.393092
      5           1              156  46504       22  0.243201  0.393092
      6           1              156  46504       22  0.243201  0.393092
4     0           1              156  46505       18  0.240430  0.391374
      1           1              156  46505       18  0.240430  0.391374
      2           1              156  46505       18  0.240430  0.391374

                    PV_z  nMuon    Muon_pt  Muon_eta  ...  Electron_phi  \
entry subentry                                        ...
0     0         1.451308    3.0  63.043869 -0.718682  ...           NaN
      1         1.451308    3.0  38.120346 -0.879457  ...           NaN
      2         1.451308    3.0   4.048687 -0.320764  ...           NaN
1     0        -2.879779    NaN        NaN       NaN  ...      0.133996
      1        -2.879779    NaN        NaN       NaN  ...     -1.863405
      2        -2.879779    NaN        NaN       NaN  ...     -2.207833
      3        -2.879779    NaN        NaN       NaN  ...     -0.621565
2     0         1.868263    NaN        NaN       NaN  ...      2.180453
      1         1.868263    NaN        NaN       NaN  ...      1.686700
3     0        -7.884568    7.0  54.332748 -1.058275  ...           NaN
      0        -7.884568    NaN        NaN       NaN  ...     -0.643173
      1        -7.884568    7.0  23.515282 -0.247516  ...           NaN
      2        -7.884568    7.0  52.871075 -0.026542  ...           NaN
      3        -7.884568    7.0   4.328589  0.766690  ...           NaN
      4        -7.884568    7.0   5.347754 -1.019671  ...           NaN
      5        -7.884568    7.0   8.393386 -0.921924  ...           NaN
      6        -7.884568    7.0   3.490124  0.769492  ...           NaN
4     0         7.064062    NaN        NaN       NaN  ...      1.008739
      1         7.064062    NaN        NaN       NaN  ...     -1.723577
      2         7.064062    NaN        NaN       NaN  ...      0.572119

                Electron_mass  Electron_charge  Electron_pfRelIso03_all  \
entry subentry
0     0                   NaN              NaN                      NaN
      1                   NaN              NaN                      NaN
      2                   NaN              NaN                      NaN
1     0              0.005438              1.0                 0.153108
      1              0.008667              1.0                 0.073329
      2              0.018527             -1.0                 0.029728
      3              0.008163             -1.0                 0.074399
2     0             -0.006085             -1.0              -999.000000
      1             -0.005330              1.0                 0.588063
3     0                   NaN              NaN                      NaN
      0             -0.001233             -1.0                 0.285386
      1                   NaN              NaN                      NaN
      2                   NaN              NaN                      NaN
      3                   NaN              NaN                      NaN
      4                   NaN              NaN                      NaN
      5                   NaN              NaN                      NaN
      6                   NaN              NaN                      NaN
4     0              0.011727             -1.0                 0.239523
      1              0.009000              1.0                 0.269071
      2              0.003375              1.0              -999.000000

                Electron_dxy  Electron_dxyErr  Electron_dz  Electron_dzErr  \
entry subentry
0     0                  NaN              NaN          NaN             NaN
      1                  NaN              NaN          NaN             NaN
      2                  NaN              NaN          NaN             NaN
1     0            -0.000513         0.002375    -0.003061        0.002561
      1             0.001648         0.002920     0.002778        0.003393
      2            -0.001160         0.002521     0.002126        0.003055
      3            -0.001770         0.005515     0.002938        0.004373
2     0            -0.001959         0.002927    -0.006056        0.003230
      1             0.000967         0.014851     2.746957        0.027287
3     0                  NaN              NaN          NaN             NaN
      0             0.002236         0.003694    16.753654        0.003947
      1                  NaN              NaN          NaN             NaN
      2                  NaN              NaN          NaN             NaN
      3                  NaN              NaN          NaN             NaN
      4                  NaN              NaN          NaN             NaN
      5                  NaN              NaN          NaN             NaN
      6                  NaN              NaN          NaN             NaN
4     0            -0.000797         0.002181    -0.001100        0.002023
      1             0.001581         0.003051    -0.002655        0.003666
      2            -0.079503         0.004313    -7.784362        0.007681

                   MET_pt   MET_phi
entry subentry
0     0               NaN       NaN
      1               NaN       NaN
      2               NaN       NaN
1     0         16.972134  2.866946
      1         16.972134  2.866946
      2         16.972134  2.866946
      3         16.972134  2.866946
2     0         19.061464 -2.166463
      1         19.061464 -2.166463
3     0               NaN       NaN
      0         30.921698 -1.598060
      1               NaN       NaN
      2               NaN       NaN
      3               NaN       NaN
      4               NaN       NaN
      5               NaN       NaN
      6               NaN       NaN
4     0         14.397130  1.162699
      1         14.397130  1.162699
      2         14.397130  1.162699

[20 rows x 32 columns]

In [ ]:
datos_pandas_totales.iloc[21:40,:]

                run  luminosityBlock  event  PV_npvs      PV_x      PV_y  \
entry subentry
5     0           1              156  46506        5  0.243159  0.391905
      0           1              156  46506        5  0.243159  0.391905
      1           1              156  46506        5  0.243159  0.391905
6     0           1              156  46507       11  0.242364  0.390817
      0           1              156  46507       11  0.242364  0.390817
7     0           1              156  46508       25  0.245450  0.390524
8     0           1              156  46509       12  0.245649  0.391499
      1           1              156  46509       12  0.245649  0.391499
      2           1              156  46509       12  0.245649  0.391499
      3           1              156  46509       12  0.245649  0.391499
10    0           1              156  46511       19  0.242893  0.394404
      0           1              156  46511       19  0.242893  0.394404
      1           1              156  46511       19  0.242893  0.394404
11    0           1              156  46512       10  0.242847  0.392742
      0           1              156  46512       10  0.242847  0.392742
      1           1              156  46512       10  0.242847  0.392742
      1           1              156  46512       10  0.242847  0.392742
      2           1              156  46512       10  0.242847  0.392742
12    0           1              156  46513       21  0.242616  0.392391

                    PV_z  nMuon    Muon_pt  Muon_eta  ...  Electron_phi  \
entry subentry                                        ...
5     0        -4.649371    2.0  38.503757  0.314903  ...           NaN
      0        -4.649371    NaN        NaN       NaN  ...     -0.497291
      1        -4.649371    2.0  47.002209 -0.118730  ...           NaN
6     0        -8.308326    1.0   4.453538 -0.986033  ...           NaN
      0        -8.308326    NaN        NaN       NaN  ...     -1.470502
7     0        -5.486303    NaN        NaN       NaN  ...     -0.632900
8     0         3.008144    NaN        NaN       NaN  ...      2.789039
      1         3.008144    NaN        NaN       NaN  ...     -2.939073
      2         3.008144    NaN        NaN       NaN  ...      1.081520
      3         3.008144    NaN        NaN       NaN  ...     -0.518942
10    0        -3.203692    1.0   3.080089  1.940784  ...           NaN
      0        -3.203692    NaN        NaN       NaN  ...      2.278410
      1        -3.203692    NaN        NaN       NaN  ...     -2.138555
11    0         2.278679    2.0  27.426336 -1.021896  ...           NaN
      0         2.278679    NaN        NaN       NaN  ...     -1.307806
      1         2.278679    2.0  67.710526  0.599918  ...           NaN
      1         2.278679    NaN        NaN       NaN  ...     -1.558811
      2         2.278679    NaN        NaN       NaN  ...     -0.595657
12    0        -9.057032    NaN        NaN       NaN  ...      2.520615

                Electron_mass  Electron_charge  Electron_pfRelIso03_all  \
entry subentry
5     0                   NaN              NaN                      NaN
      0             -0.001829              1.0                 0.000000
      1                   NaN              NaN                      NaN
6     0                   NaN              NaN                      NaN
      0             -0.001832             -1.0              -999.000000
7     0             -0.002162              1.0                 0.691153
8     0             -0.012840             -1.0                 0.036929
      1              0.003646             -1.0                 0.156232
      2             -0.007097              1.0                 0.105025
      3             -0.008303              1.0                 0.067267
10    0                   NaN              NaN                      NaN
      0             -0.001193              1.0                 0.329288
      1             -0.014168             -1.0              -999.000000
11    0                   NaN              NaN                      NaN
      0              0.006085             -1.0                 0.040800
      1                   NaN              NaN                      NaN
      1              0.004832              1.0                 0.216268
      2             -0.003994             -1.0              -999.000000
12    0             -0.007646              1.0                 0.069794

                Electron_dxy  Electron_dxyErr  Electron_dz  Electron_dzErr  \
entry subentry
5     0                  NaN              NaN          NaN             NaN
      0             0.002613         0.003089     0.001555        0.001985
      1                  NaN              NaN          NaN             NaN
6     0                  NaN              NaN          NaN             NaN
      0            -0.008662         0.006014    -0.004281        0.004523
7     0             0.014946         0.011340     0.001372        0.003706
8     0            -0.000085         0.002608     0.001391        0.001933
      1            -0.009502         0.010185    -0.005547        0.006306
      2             0.003571         0.005908     0.007987        0.005338
      3            -0.009437         0.006578    -0.001291        0.002670
10    0                  NaN              NaN          NaN             NaN
      0             0.002132         0.002845    -0.001040        0.002993
      1            -0.012080         0.007326     0.007463        0.014948
11    0                  NaN              NaN          NaN             NaN
      0            -0.003167         0.004916     0.000610        0.002959
      1                  NaN              NaN          NaN             NaN
      1            -0.005811         0.005355     0.000949        0.003691
      2             0.001332         0.004273     0.000563        0.005107
12    0             0.001350         0.001840    -0.000511        0.002312

                   MET_pt   MET_phi
entry subentry
5     0               NaN       NaN
      0         11.519886 -3.052330
      1               NaN       NaN
6     0               NaN       NaN
      0          6.328648 -2.540872
7     0          8.902346 -0.100669
8     0          4.528776 -2.544859
      1          4.528776 -2.544859
      2          4.528776 -2.544859
      3          4.528776 -2.544859
10    0               NaN       NaN
      0         15.799291  0.708518
      1         15.799291  0.708518
11    0               NaN       NaN
      0         22.863270  2.747653
      1               NaN       NaN
      1         22.863270  2.747653
      2         22.863270  2.747653
12    0          8.032242 -0.427569

[19 rows x 32 columns]

In [ ]:
from google.colab import files

datos_pandas_totales.to_csv('datos_totales.csv', encoding = 'utf-8-sig') 
files.download('datos_totales.csv')

AQUI TERMINA LA PRIMERA PARTE Y EMPIEZA EL VERDADERO DOLOR

In [ ]:
datos_desde_csv = pd.read_csv('datos_totales.csv', index_col = [0,1])

In [ ]:
datos_desde_csv

                 run  luminosityBlock   event  PV_npvs      PV_x      PV_y  \
entry  subentry
0      0           1              156   46501       15  0.243699  0.393699
       1           1              156   46501       15  0.243699  0.393699
       2           1              156   46501       15  0.243699  0.393699
1      0           1              156   46502       13  0.244278  0.395262
       1           1              156   46502       13  0.244278  0.395262
...              ...              ...     ...      ...       ...       ...
299970 3           1              996  298798        9  0.244916  0.391220
299971 0           1              996  298799       15  0.242936  0.389434
       1           1              996  298799       15  0.242936  0.389434
299972 0           1              996  298800       13  0.247032  0.391933
       1           1              996  298800       13  0.247032  0.391933

                     PV_z  nMuon    Muon_pt  Muon_eta  ...  Electron_phi  \
entry  subentry                                        ...
0      0         1.451308    3.0  63.043870 -0.718682  ...           NaN
       1         1.451308    3.0  38.120346 -0.879457  ...           NaN
       2         1.451308    3.0   4.048687 -0.320764  ...           NaN
1      0        -2.879779    NaN        NaN       NaN  ...      0.133996
       1        -2.879779    NaN        NaN       NaN  ...     -1.863405
...                   ...    ...        ...       ...  ...           ...
299970 3         2.060255    4.0   4.750780 -2.018917  ...           NaN
299971 0         5.048700    NaN        NaN       NaN  ...     -1.123452
       1         5.048700    NaN        NaN       NaN  ...      1.836295
299972 0         6.518339    NaN        NaN       NaN  ...     -1.607639
       1         6.518339    NaN        NaN       NaN  ...      0.971729

                 Electron_mass  Electron_charge  Electron_pfRelIso03_all  \
entry  subentry
0      0                   NaN              NaN                      NaN
       1                   NaN              NaN                      NaN
       2                   NaN              NaN                      NaN
1      0              0.005438              1.0                 0.153108
       1              0.008667              1.0                 0.073329
...                        ...              ...                      ...
299970 3                   NaN              NaN                      NaN
299971 0             -0.017138             -1.0                 0.048826
       1              0.014364              1.0                 0.051595
299972 0              0.012666             -1.0                 0.084230
       1              0.018534              1.0                 0.022152

                 Electron_dxy  Electron_dxyErr  Electron_dz  Electron_dzErr  \
entry  subentry
0      0                  NaN              NaN          NaN             NaN
       1                  NaN              NaN          NaN             NaN
       2                  NaN              NaN          NaN             NaN
1      0            -0.000513         0.002375    -0.003061        0.002561
       1             0.001648         0.002920     0.002778        0.003393
...                       ...              ...          ...             ...
299970 3                  NaN              NaN          NaN             NaN
299971 0             0.006878         0.004638    -0.040048        0.010772
       1             0.001015         0.005006     0.005524        0.009840
299972 0             0.000033         0.002196    -0.002201        0.002410
       1            -0.000658         0.008206     0.005575        0.005578

                    MET_pt   MET_phi
entry  subentry
0      0               NaN       NaN
       1               NaN       NaN
       2               NaN       NaN
1      0         16.972134  2.866946
       1         16.972134  2.866946
...                    ...       ...
299970 3               NaN       NaN
299971 0         23.999083 -1.973488
       1         23.999083 -1.973488
299972 0         12.943779  1.651243
       1         12.943779  1.651243

[864847 rows x 32 columns]

In [ ]:
df_4mu = datos_desde_csv.loc[datos_desde_csv['nMuon'] >= 4] #numero de muones mayor o igual a 4

In [ ]:
df_iso_4mu = df_4mu.loc[np.abs(df_4mu['Muon_pfRelIso04_all']) < 0.4] #good isolation

In [ ]:
df_iso_4mu['Muon_ip3d'] = np.sqrt(np.power(df_iso_4mu['Muon_dxy'],2) + np.power(df_iso_4mu['Muon_dz'],2))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_iso_4mu['Muon_sip3d'] = np.divide( df_iso_4mu['Muon_ip3d'],np.sqrt(np.power(df_iso_4mu['Muon_dxyErr'],2) + np.power(df_iso_4mu['Muon_dzErr'],2)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_uncer_4mu = df_iso_4mu.loc[(df_iso_4mu['Muon_sip3d']<4) & (np.abs(df_iso_4mu['Muon_dxy'])< 0.5)&(np.abs(df_iso_4mu['Muon_dz'])<1.0)]

In [ ]:
df_uncer_4mu['Muon_Charge_Sum'] = df_uncer_4mu.groupby(level = 0).Muon_charge.transform('sum')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [351]:
df_uncer_4mu['rnMuon'] = df_uncer_4mu.groupby(level = 0).run.transform('sum')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [352]:
df_filt_4mu = df_uncer_4mu.loc[(df_uncer_4mu['rnMuon']==4) & (df_uncer_4mu['Muon_charge_sum'] != 0.0)]

In [353]:
df_filt_4mu

                 run  luminosityBlock   event  PV_npvs      PV_x      PV_y  \
entry  subentry
23     0           1              156   46524       14  0.243090  0.392805
       1           1              156   46524       14  0.243090  0.392805
       2           1              156   46524       14  0.243090  0.392805
       3           1              156   46524       14  0.243090  0.392805
32     0           1              156   46533       23  0.243197  0.390846
...              ...              ...     ...      ...       ...       ...
299900 3           1              996  298728       15  0.245624  0.395551
299923 0           1              996  298751       15  0.244736  0.394475
       1           1              996  298751       15  0.244736  0.394475
       2           1              996  298751       15  0.244736  0.394475
       3           1              996  298751       15  0.244736  0.394475

                     PV_z  nMuon    Muon_pt  Muon_eta  ...  Electron_dxyErr  \
entry  subentry                                        ...
23     0        -1.390715    4.0  12.480432 -2.268340  ...              NaN
       1        -1.390715    4.0   9.652972 -1.626033  ...              NaN
       2        -1.390715    4.0  55.848194 -0.781712  ...              NaN
       3        -1.390715    4.0  45.673103 -0.976483  ...              NaN
32     0        -5.180047    4.0  46.238186 -1.336441  ...              NaN
...                   ...    ...        ...       ...  ...              ...
299900 3        -8.898277    4.0  20.041060  0.519924  ...              NaN
299923 0         8.632177    4.0  39.672360  1.316140  ...              NaN
       1         8.632177    4.0  21.598484  1.251735  ...              NaN
       2         8.632177    4.0  43.883938  1.294439  ...              NaN
       3         8.632177    4.0  12.049525  0.917702  ...              NaN

                 Electron_dz  Electron_dzErr  MET_pt  MET_phi  Muon_ip3d  \
entry  subentry
23     0                 NaN             NaN     NaN      NaN   0.005852
       1                 NaN             NaN     NaN      NaN   0.010145
       2                 NaN             NaN     NaN      NaN   0.001459
       3                 NaN             NaN     NaN      NaN   0.000498
32     0                 NaN             NaN     NaN      NaN   0.007100
...                      ...             ...     ...      ...        ...
299900 3                 NaN             NaN     NaN      NaN   0.000888
299923 0                 NaN             NaN     NaN      NaN   0.000976
       1                 NaN             NaN     NaN      NaN   0.003862
       2                 NaN             NaN     NaN      NaN   0.001283
       3                 NaN             NaN     NaN      NaN   0.005356

                 Muon_sip3d  Muon_charge_sum  Muon_Charge_Sum  rnMuon
entry  subentry
23     0           0.399053              NaN              0.0       4
       1           1.787837              NaN              0.0       4
       2           0.478926              NaN              0.0       4
       3           0.102517              NaN              0.0       4
32     0           0.960049              NaN              0.0       4
...                     ...              ...              ...     ...
299900 3           0.200103              NaN              0.0       4
299923 0           0.171279              NaN              0.0       4
       1           0.993691              NaN              0.0       4
       2           0.343982              NaN              0.0       4
       3           0.722799              NaN              0.0       4

[51964 rows x 37 columns]

In [354]:
def best_Z(df):
  mu_pt = df['Muon_pt'].reset_index(drop = True).to_numpy()
  mu_eta = df['Muon_eta'].reset_index(drop = True).to_numpy()
  mu_phi = df['Muon_phi'].reset_index(drop = True).to_numpy()
  mu_mass = df['Muon_mass'].reset_index(drop = True).to_numpy()
  mu_charge = df['Muon_charge'].reset_index(drop = True).to_numpy()
  zmass = 91.2
  bestmass = -1
  idx=[0,0]
  for i in range(0,mu_charge.size):
    for j in range(i+1,mu_charge.size):
      if(mu_charge[i] != mu_charge[j]):
        thismass = calc_mass(mu_pt[i],mu_eta[i],mu_phi[i],mu_mass[i],mu_pt[j],mu_eta[j],mu_phi[j],mu_mass[j])
        #print(thismass)
        if(np.abs(zmass - thismass) < np.abs(zmass - bestmass)):
          bestmass = thismass
          idx[0] = i
          idx[1] = j
  idy = np.ones(mu_charge.size)
  idy[idx[0]] = 0
  idy[idx[1]] = 0
  npidy = np.array(idy)
  df = df.reset_index()
  extra = pd.DataFrame(npidy,columns = ['Idx'])
  final = pd.concat([df,extra], axis=1)
  final.set_index(['entry','subentry'], drop = True, inplace = True)
  return final

In [355]:
def calc_mass(pt1,eta1,phi1,mass1,pt2,eta2,phi2,mass2):
  px1 = pt1*np.cos(phi1)
  py1 = pt1*np.sin(phi1)
  pz1 = pt1*np.sinh(eta1)
  px2 = pt2*np.cos(phi2)
  py2 = pt2*np.sin(phi2)
  pz2 = pt2*np.sinh(eta2)
  c = constants.c
  return np.sqrt(np.power((mass1 + mass2),2) + (np.power((px1 +px2),2) + np.power((py1 + py2),2) + np.power((pz1 + pz2),2)))

In [356]:
df_bestZ_4mu = df_filt_4mu.groupby(level = 0).apply(best_Z)
df_bestZ_4mu

                 run  luminosityBlock   event  PV_npvs      PV_x      PV_y  \
entry  subentry
23     0           1              156   46524       14  0.243090  0.392805
       1           1              156   46524       14  0.243090  0.392805
       2           1              156   46524       14  0.243090  0.392805
       3           1              156   46524       14  0.243090  0.392805
32     0           1              156   46533       23  0.243197  0.390846
...              ...              ...     ...      ...       ...       ...
299900 3           1              996  298728       15  0.245624  0.395551
299923 0           1              996  298751       15  0.244736  0.394475
       1           1              996  298751       15  0.244736  0.394475
       2           1              996  298751       15  0.244736  0.394475
       3           1              996  298751       15  0.244736  0.394475

                     PV_z  nMuon    Muon_pt  Muon_eta  ...  Electron_dz  \
entry  subentry                                        ...
23     0        -1.390715    4.0  12.480432 -2.268340  ...          NaN
       1        -1.390715    4.0   9.652972 -1.626033  ...          NaN
       2        -1.390715    4.0  55.848194 -0.781712  ...          NaN
       3        -1.390715    4.0  45.673103 -0.976483  ...          NaN
32     0        -5.180047    4.0  46.238186 -1.336441  ...          NaN
...                   ...    ...        ...       ...  ...          ...
299900 3        -8.898277    4.0  20.041060  0.519924  ...          NaN
299923 0         8.632177    4.0  39.672360  1.316140  ...          NaN
       1         8.632177    4.0  21.598484  1.251735  ...          NaN
       2         8.632177    4.0  43.883938  1.294439  ...          NaN
       3         8.632177    4.0  12.049525  0.917702  ...          NaN

                 Electron_dzErr  MET_pt  MET_phi  Muon_ip3d  Muon_sip3d  \
entry  subentry
23     0                    NaN     NaN      NaN   0.005852    0.399053
       1                    NaN     NaN      NaN   0.010145    1.787837
       2                    NaN     NaN      NaN   0.001459    0.478926
       3                    NaN     NaN      NaN   0.000498    0.102517
32     0                    NaN     NaN      NaN   0.007100    0.960049
...                         ...     ...      ...        ...         ...
299900 3                    NaN     NaN      NaN   0.000888    0.200103
299923 0                    NaN     NaN      NaN   0.000976    0.171279
       1                    NaN     NaN      NaN   0.003862    0.993691
       2                    NaN     NaN      NaN   0.001283    0.343982
       3                    NaN     NaN      NaN   0.005356    0.722799

                 Muon_charge_sum  Muon_Charge_Sum  rnMuon  Idx
entry  subentry
23     0                     NaN              0.0       4  0.0
       1                     NaN              0.0       4  0.0
       2                     NaN              0.0       4  1.0
       3                     NaN              0.0       4  1.0
32     0                     NaN              0.0       4  0.0
...                          ...              ...     ...  ...
299900 3                     NaN              0.0       4  1.0
299923 0                     NaN              0.0       4  1.0
       1                     NaN              0.0       4  1.0
       2                     NaN              0.0       4  0.0
       3                     NaN              0.0       4  0.0

[51964 rows x 38 columns]

In [365]:
def distance(df):
  mu_eta = df['Muon_eta'].reset_index(drop = True).to_numpy()
  mu_phi = df['Muon_phi'].reset_index(drop = True).to_numpy()
  idx = df['Idx'].reset_index(drop = True).to_numpy()
  dr = np.zeros(idx.size)
  for i in range(0,idx.size):
    for j in range(i+1, idx.size):
      if(idx[i] == idx[j]):
        delta_r = np.sqrt(np.power(mu_eta[i] + mu_eta[j],2) + np.power(mu_phi[i] + mu_phi[j],2))
        dr[i] = delta_r
        dr[j] = delta_r
  df = df.reset_index()
  extra = pd.DataFrame(dr,columns = ['Delta_R'])
  final = pd.concat([df,extra], axis=1)
  final.set_index(['entry','subentry'], drop = True, inplace = True)
  return final

In [371]:
df_deltaR_4mu = df_bestZ_4mu.groupby(level = 0).apply(distance)
df_deltaR_4mu

                 run  luminosityBlock   event  PV_npvs      PV_x      PV_y  \
entry  subentry
23     0           1              156   46524       14  0.243090  0.392805
       1           1              156   46524       14  0.243090  0.392805
       2           1              156   46524       14  0.243090  0.392805
       3           1              156   46524       14  0.243090  0.392805
32     0           1              156   46533       23  0.243197  0.390846
...              ...              ...     ...      ...       ...       ...
299900 3           1              996  298728       15  0.245624  0.395551
299923 0           1              996  298751       15  0.244736  0.394475
       1           1              996  298751       15  0.244736  0.394475
       2           1              996  298751       15  0.244736  0.394475
       3           1              996  298751       15  0.244736  0.394475

                     PV_z  nMuon    Muon_pt  Muon_eta  ...  Electron_dzErr  \
entry  subentry                                        ...
23     0        -1.390715    4.0  12.480432 -2.268340  ...             NaN
       1        -1.390715    4.0   9.652972 -1.626033  ...             NaN
       2        -1.390715    4.0  55.848194 -0.781712  ...             NaN
       3        -1.390715    4.0  45.673103 -0.976483  ...             NaN
32     0        -5.180047    4.0  46.238186 -1.336441  ...             NaN
...                   ...    ...        ...       ...  ...             ...
299900 3        -8.898277    4.0  20.041060  0.519924  ...             NaN
299923 0         8.632177    4.0  39.672360  1.316140  ...             NaN
       1         8.632177    4.0  21.598484  1.251735  ...             NaN
       2         8.632177    4.0  43.883938  1.294439  ...             NaN
       3         8.632177    4.0  12.049525  0.917702  ...             NaN

                 MET_pt  MET_phi  Muon_ip3d  Muon_sip3d  Muon_charge_sum  \
entry  subentry
23     0            NaN      NaN   0.005852    0.399053              NaN
       1            NaN      NaN   0.010145    1.787837              NaN
       2            NaN      NaN   0.001459    0.478926              NaN
       3            NaN      NaN   0.000498    0.102517              NaN
32     0            NaN      NaN   0.007100    0.960049              NaN
...                 ...      ...        ...         ...              ...
299900 3            NaN      NaN   0.000888    0.200103              NaN
299923 0            NaN      NaN   0.000976    0.171279              NaN
       1            NaN      NaN   0.003862    0.993691              NaN
       2            NaN      NaN   0.001283    0.343982              NaN
       3            NaN      NaN   0.005356    0.722799              NaN

                 Muon_Charge_Sum  rnMuon  Idx   Delta_R
entry  subentry
23     0                     0.0       4  0.0  4.009678
       1                     0.0       4  0.0  4.009678
       2                     0.0       4  1.0  3.504571
       3                     0.0       4  1.0  3.504571
32     0                     0.0       4  0.0  4.957167
...                          ...     ...  ...       ...
299900 3                     0.0       4  1.0  0.193819
299923 0                     0.0       4  1.0  2.596505
       1                     0.0       4  1.0  2.596505
       2                     0.0       4  0.0  2.961152
       3                     0.0       4  0.0  2.961152

[51964 rows x 39 columns]

In [372]:
df_deltaR_4mu = df_deltaR_4mu.loc[df_deltaR_4mu['Delta_R'] > 0.02]
df_deltaR_4mu

                 run  luminosityBlock   event  PV_npvs      PV_x      PV_y  \
entry  subentry
23     0           1              156   46524       14  0.243090  0.392805
       1           1              156   46524       14  0.243090  0.392805
       2           1              156   46524       14  0.243090  0.392805
       3           1              156   46524       14  0.243090  0.392805
32     0           1              156   46533       23  0.243197  0.390846
...              ...              ...     ...      ...       ...       ...
299900 3           1              996  298728       15  0.245624  0.395551
299923 0           1              996  298751       15  0.244736  0.394475
       1           1              996  298751       15  0.244736  0.394475
       2           1              996  298751       15  0.244736  0.394475
       3           1              996  298751       15  0.244736  0.394475

                     PV_z  nMuon    Muon_pt  Muon_eta  ...  Electron_dzErr  \
entry  subentry                                        ...
23     0        -1.390715    4.0  12.480432 -2.268340  ...             NaN
       1        -1.390715    4.0   9.652972 -1.626033  ...             NaN
       2        -1.390715    4.0  55.848194 -0.781712  ...             NaN
       3        -1.390715    4.0  45.673103 -0.976483  ...             NaN
32     0        -5.180047    4.0  46.238186 -1.336441  ...             NaN
...                   ...    ...        ...       ...  ...             ...
299900 3        -8.898277    4.0  20.041060  0.519924  ...             NaN
299923 0         8.632177    4.0  39.672360  1.316140  ...             NaN
       1         8.632177    4.0  21.598484  1.251735  ...             NaN
       2         8.632177    4.0  43.883938  1.294439  ...             NaN
       3         8.632177    4.0  12.049525  0.917702  ...             NaN

                 MET_pt  MET_phi  Muon_ip3d  Muon_sip3d  Muon_charge_sum  \
entry  subentry
23     0            NaN      NaN   0.005852    0.399053              NaN
       1            NaN      NaN   0.010145    1.787837              NaN
       2            NaN      NaN   0.001459    0.478926              NaN
       3            NaN      NaN   0.000498    0.102517              NaN
32     0            NaN      NaN   0.007100    0.960049              NaN
...                 ...      ...        ...         ...              ...
299900 3            NaN      NaN   0.000888    0.200103              NaN
299923 0            NaN      NaN   0.000976    0.171279              NaN
       1            NaN      NaN   0.003862    0.993691              NaN
       2            NaN      NaN   0.001283    0.343982              NaN
       3            NaN      NaN   0.005356    0.722799              NaN

                 Muon_Charge_Sum  rnMuon  Idx   Delta_R
entry  subentry
23     0                     0.0       4  0.0  4.009678
       1                     0.0       4  0.0  4.009678
       2                     0.0       4  1.0  3.504571
       3                     0.0       4  1.0  3.504571
32     0                     0.0       4  0.0  4.957167
...                          ...     ...  ...       ...
299900 3                     0.0       4  1.0  0.193819
299923 0                     0.0       4  1.0  2.596505
       1                     0.0       4  1.0  2.596505
       2                     0.0       4  0.0  2.961152
       3                     0.0       4  0.0  2.961152

[51926 rows x 39 columns]